* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gill Sans W01 Light";
  overflow: hidden;
  font-weight: light;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
}

a { color: black; }
a:hover { text-decoration: none; }

h1 a {
  color: white;
  text-decoration: none;
}

.CodeMirror {
  margin-top: 32px;
  font-family: "courier";
  font-size: 14pt;
  width: calc(100% - 450px);
  height: calc(100vh - 32px);
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);
}

#screen {
  position: absolute;
  top: 32px;
  z-index: -1;
  opacity: 1;
}

.program-player {
  position: absolute;
  top: 0;
  left: 110px;
  padding: 4px 0 5px 0;
  z-index: 2;
  background-color: black;
}

#sidebar {
  font-size: 17px;
  position: fixed;
  right: 0;
  width: 450px;
  height: calc(100% - 31px);
  z-index: 2;
  overflow: hidden;
}

.sidebar {
  padding: 0 8px 0 8px; /* put padding on this so don't throw off 70/30 split w line messages */
}

.topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 26px;
  padding: 3px 0 3px 3px;
  border-bottom: 1px black solid;
  z-index: 3;
  background-color: white;
}

h1 {
  font-size: 22px;
  margin: -4px 0 0 -3px;
  padding: 4px 0 4px 4px;
  color: white;
  background-color: black;
  width: 110px;
  font-weight: normal;
}

#sidebar h2 {
  font-size: 22px;

  /* to give nice space at top of content. When content loaded,
     padding on .sidebar and margin on this h2 is auto-scrolled past for
     some reason */
  padding-top: 3px;

  margin: 0 0 0.6em 0;
}

#sidebar h3 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0.8em;
}


#sidebar p {
  margin-bottom: 0.8em;
}

#sidebar ol { padding-bottom: 0.8em; }

#sidebar li { margin-left: 30px; }

.player-button {
  cursor: pointer;
  cursor: hand;
  border: 0;
  width: 30px;
  height: 30px;
  margin: 3px 10px 0 10px;
  vertical-align: top;
}

.play-button {
  background: url(/resources/images/play.png);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.pause-button {
  background: url(/resources/images/pause.png);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.step-forwards-button {
  background: url(/resources/images/step-forwards.png);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.step-backwards-button {
  background: url(/resources/images/step-backwards.png);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

button:focus {
  outline: 0; /* removes blue outline that appears on button click */
}

.ace_marker-layer .overhang { padding-right: 13px; }

.cm-bracket.rainbow-0 { background-color: rgba(0, 255, 0, 0.12); }
.cm-bracket.rainbow-1 { background-color: rgba(0, 0, 255, 0.12); }
.cm-bracket.rainbow-2 { background-color: rgba(0, 255, 255, 0.12); }
.cm-bracket.rainbow-3 { background-color: rgba(255, 0, 255, 0.12); }

#line-messages {
  font-family: "courier";
  font-size: 14pt;
  position: absolute;
  top: 33px;
  left: 0;
  width: calc(100% - 450px);
  height: 100vh;
  z-index: 0;
}

.line-message {
  text-align: right;
  margin-right: 0;

}

.line-message span {
  background-color: rgba(255, 0, 0, 0.3);
  padding: 0 4px;
}

.zero-width-mark {
  background-color: rgba(0, 0, 255, 0.12);
  padding: 0 2px;
};

.cm-s-default { color: black; }
.cm-s-default .cm-string { color: #578622; }
.cm-s-default .cm-number { color: #FF5BAE; }
.cm-s-default .cm-builtin { color: #4A9CC9; }
.cm-s-default .cm-bracket { color: black; }

.error { background-color: rgba(255, 0, 0, 0.2); }
.currently-executing { background-color: rgba(0, 0, 255, 0.12); }

pre {
  margin: 1em 0 1em 0;
  padding: 0.5em 0;
  overflow: hidden;
  background-color: #e7e7e7;
  padding-left: 8px;
}

pre code {
  word-wrap: normal;
  color: #333;
}

code {
  background-color: #e7e7e7;
  font-family: "courier";
  font-size: 14px;
  color: #333;
}

.CodeMirror div.CodeMirror-cursor {
  border-left: 2px solid black;
}
