* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gill Sans W01 Light";
  overflow: hidden;
}

a { color: black; }
a:hover { text-decoration: none; }

.CodeMirror {
  font-family: "courier";
  font-size: 14pt;
  width: calc(100% - 450px);
  height: 100vh;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0);
}

#screen {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 1;
}

#program-player {
  position: absolute;
  top: 0;
  right: 448px;
  padding: 2px 2px 0 0;
  z-index: 2;
}

#sidebar {
  font-size: 17px;
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

.sidebar {
  padding: 8px 0 0 8px; /* put padding on this so don't throw off 70/30 split w line messages */
  margin: 0 8px 0 0;
  height: 100%;
}

#sidebar h1 {
  font-size: 22px;
  margin-bottom: 0.5em;
}

#sidebar h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0.8em;
}

#sidebar p {
  margin-bottom: 0.8em;
}

#sidebar ol { padding-bottom: 0.8em; }

#sidebar li { margin-left: 30px; }

.player-button {
  cursor: pointer;
  cursor: hand;
  border: 0;
  width: 30px;
  height: 30px;
  margin: 10px;
}

.play-button {
  background: url(/resources/images/play.png);
  background-size: 30px 30px;
}

.pause-button {
  background: url(/resources/images/pause.png);
  background-size: 30px 30px;
}

.step-forwards-button {
  background: url(/resources/images/step-forwards.png);
  background-size: 30px 30px;
}

.step-backwards-button {
  background: url(/resources/images/step-backwards.png);
  background-size: 30px 30px;
}

button:focus {
  outline: 0; /* removes blue outline that appears on button click */
}

.ace_marker-layer .overhang { padding-right: 13px; }

.cm-bracket.rainbow-0 { background-color: rgba(0, 255, 0, 0.12); }
.cm-bracket.rainbow-1 { background-color: rgba(0, 0, 255, 0.12); }
.cm-bracket.rainbow-2 { background-color: rgba(0, 255, 255, 0.12); }
.cm-bracket.rainbow-3 { background-color: rgba(255, 0, 255, 0.12); }

#line-messages {
  font-family: "courier";
  font-size: 14pt;
  position: absolute;
  top: 4px;
  left: 0;
  width: calc(100% - 450px);
  height: 100vh;
  z-index: 0;
}

.line-message {
  text-align: right;
  margin-right: 0;
  padding-right: 10px; /* matches 8px padding on sidebar */
}

.line-message span {
  background-color: rgba(255, 0, 0, 0.4);
  padding: 0 4px;
}

.zero-width-mark {
  background-color: rgba(0, 0, 255, 0.12);
  padding: 0 2px;
};

.cm-s-default { color: black; }
.cm-s-default .cm-string { color: #578622; }
.cm-s-default .cm-number { color: #FF5BAE; }
.cm-s-default .cm-builtin { color: #4A9CC9; }
.cm-s-default .cm-bracket { color: black; }

.error { background-color: rgba(255, 0, 0, 0.2); }
.currently-executing { background-color: rgba(0, 0, 255, 0.12); }

pre {
  margin: 1em 0 1em 0;
  padding: 0.5em 0;
  overflow: hidden;
  background-color: #e7e7e7;
  padding-left: 8px;
}

pre code {
  word-wrap: normal;
}

code {
  background-color: #e7e7e7;
  font-family: "courier";
  font-size: 14px;
  color: black;
}

.CodeMirror div.CodeMirror-cursor {
  border-left: 2px solid black;
}
